<div class="left_col scroll-view">
  <div class="navbar nav_title" >
    <a href="index.html" class="site_title">
		<i class="fa fa-ils"></i> 
		<span>naja Scanner</span>
	</a>
  </div>
  <div class="clearfix"></div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>菜单</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> 个人中心 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="index.html">系统概述</a></li>
            <li><a href="index2.html">修改密码</a></li>
          </ul>
        </li>	  
		
        <li><a><i class="fa fa-bars"></i> 任务中心 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="tasks.html">任务列表</a></li>
            <li><a href="index2.html">新建任务</a></li>
            <li><a href="index3.html">重要消息</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-table"></i> 漏洞库 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="tables.html">漏洞列表</a></li>
            <li><a href="tables_dynamic.html">万能搜索</a></li>
          </ul>
        </li>	
		
	  
        <li><a><i class="fa fa-edit"></i> 插件库 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">插件列表</a></li>
            <li><a href="form_advanced.html">添加插件</a></li>
          </ul>
        </li>
	  
        <li><a><i class="fa fa-bar-chart-o"></i> 节点管理 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="chartjs.html">节点列表</a></li>
            <li><a href="chartjs2.html">申请节点</a></li>
            <li><a href="morisjs.html">Moris JS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>管理员</h3>
      <ul class="nav side-menu">	
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>