{% extends 'base_site.html' %}
{% block content %}
    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="#">主页</a></li>
          <li><a href="#">插件管理</a></li>
          <li class="active">支持插件</li>
        </ol>

        <form class="form-horizontal">
          <div class="form-group">

            <div class="col-sm-3">
              <input type="email" class="form-control" id="inputEmail3" placeholder="插件名称、CVE、MS编号">
            </div>
            <div class="col-sm-1">
              <a  type="submit" class="btn btn-sm btn-success">搜索</a>
            </div>
          </div>
          <div class="form-group">

            <div class="col-sm-12">
              <span class="label label-default">Search:</span>
              <span class="label label-success">id:cve-2014-4792</span>
              <span class="label label-success">name:ms17-010</span>
            </div>
          </div>

        </form>

      </div>

      <!-- start user projects -->
      <table class="data table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>CVE编号</th>
            <th>利用等级</th>
            <th>文件路径</th>
            <th>用法</th>
            <th>返回结果</th>
          </tr>
        </thead>
        <tbody>
          {% for plugin in object_list %}
          <tr>
            <td>{{ plugin.name }}</td>
            <td>{{ plugin.cve }}</td>
            <td>{{ plugin.cve }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  <span class="label label-default">{{ plugin.python }}</span>
                  <span class="label label-danger">{{ plugin.usage }}</span>
                </li>

              </ul>
            </td>
            <td>{{ bug.road }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  <span class="label label-default">{{ plugin.python }}</span>
                  <span class="label label-success">{{ plugin.python }}</span>
                </li>

              </ul>
            </td>
            <td>
              <a href="task_host_details.html" class="btn btn-default btn-xs">详情</a>
              <a href="task_host_details.html" class="btn btn-danger btn-xs">更新</a>
              <a href="task_host_details.html" class="btn btn-warning btn-xs">删除</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- end user projects -->


      <div class="page-header"></div>


      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><a href="#">上一页</a></li>
          <li class="next"><a href="#">下一页</a></li>
        </ul>
      </nav>


    </div>
{% endblock %}